{% extends "layout.html" %}
{% block body %}


<div class="container mx-auto">
	<h1> Time Analyzer </h1>

	<p> Welcome to the time analyzer! Choose from the options and then click "go" to find out who you're spending the most time with on a regular basis! </p>
</div>


<div class="container mt-4 mx-auto">

<h3> Your month at a glance...</h3>

<div class="card-deck">

  <div class="card" style="width: 15rem;">
	  <div class="card-header">
		Total Meeting Time
	  </div>
  <div class="card-body">
	<p class="card-main text-center timeInMeetings"></p>
	<p class="subtitle mb-2 text-muted"></p>
  </div>
  </div>

  <div class="card" style="width: 15rem;">
	  <div class="card-header">
		Number of Meetings
	  </div>
	  <div class="card-body">
		<p class="card-main text-center numberOfMeetings"></p>
		<p class="subtitle mb-2 text-muted"></p>
	  </div>
  </div>

	<div class="card" style="width: 15rem;">
	  <div class="card-header">
		Total People Met 
	  </div>
	  <div class="card-body">
		<p class="card-main text-center totalPeopleMet"></p>
		<p class="subtitle mb-2 text-muted"></p>

	  </div>
	</div>

	<div class="card" style="width: 15rem;">
	   <div class="card-header">
			Your top five
	   </div>
	  <div class="card-body">
		<ul class="topFive"></ul>
	  </div>
	</div>

</div>

</div>

<div class= "container mt-5 mx-auto">
	<h3> Who you spent your time with... </h3>
	<div class = "graph container mx-auto  border rounded p-3">
		<div class="row">
		    <div class="col-sm">
		    </div>

		    <div class="col-sm">
				<p class="justify-content-md-center"> Select your time range and type of meeting below! </p>

			  	<form>
					<div class="btn-group" data-toggle="buttons">
						<label for="all" class="radio-inline btn btn-secondary"> <input type="radio" name="date_range" id="radio-1" value="1"> Last 1 month </label>
						<label for="1:1" class="radio-inline btn btn-secondary " > <input type="radio" name="date_range" id="radio-1" value="2"> Last 3 months </label>
						<label for="<5" class="radio-inline btn btn-secondary "><input type="radio" name="date_range" id="radio-1" value="3">Last 6 months</label>
					</div>

					<br />


					<div class="btn-group mt-3" data-toggle="buttons">
						<label for="all" class="radio-inline btn btn-secondary active"><input type="radio" name="radio" id="radio-1" value="" autocomplete="off">All Meetings </label>
						<label for="1:1" class="radio-inline btn btn-secondary "><input type="radio" name="radio" id="radio-1" value="oneOnOne">1:1s Only</label> 
						<label for="<5" class="radio-inline btn btn-secondary "><input type="radio" name="radio" id="radio-1" value="lessThanFive">Less than 5 people</label>
						<label for=">5" class="radio-inline btn btn-secondary "><input type="radio" name="radio" id="radio-1" value="fiveOrMore"> More than 5 people</label> 

				  	</div>
			  	
		    	</form>
			</div>
		    <div class="col-sm">

		    </div>
		</div>

		<div class="chartContainer">
			<canvas id="chart" class="mt-5 p-3"></canvas>
		</div>
	</div>

</div>
{% endblock %}


