{% extends "layout.html" %}
{% block body %}


    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-5">Time is money.</h1>
          <p>We help you analyze your calendar, so that you can make time for <b>what really matters. </b></p>
          <p><a class="btn btn-primary btn-lg" href="/home" role="button">Go &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Seamless Integration</h2>
            <p>We integrate with your Google Calendar and analyze your meeting history.</p>
          </div>
          <div class="col-md-4">
            <h2>Network Insights</h2>
            <p>See who you're spending the most time with - this will help you make sure you're spending time with the right people. </p>
          </div>
          <div class="col-md-4">
            <h2>Meeting Metrics</h2>
            <p>Quickly figure out how much time you've spent in meetings over the last month. </p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
          <p>A few details: </p>
           <ul>
           <li>Calendar data is not stored on any servers. We're simply looking at Google Calendar data real-time </li>
           <li>We're only analyzing meetings for which there is at least 1 other attendee and a start/end time. </li>
          <li>If you have feature requests or feedback, please shoot us an <a href="mailto:dhwari@gmail.com">email</a>! </li>
          </div>
        </div>

        <hr>


    </main>

    <footer class="container">
      <p>Made by <a href="https://www.linkedin.com/in/dhruvmah/">Dhruv</a> and <a href="https://www.linkedin.com/in/andrewinscore/">Andy</a></p>
    </footer>



{% endblock %}
